.group {
  background-color: var(--screen-group-background-color);
  border-radius: var(--common-border-radius);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: var(--common-margin);
  padding: var(--common-padding);
  width: 100%;
}

.screens {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
}

.header {
  font-size: var(--screen-group-header-font-size);
  margin-top: 0rem;
}