.panel {
  border-radius: var(--common-border-radius);
  background-color: var(--panel-background-color);
  // TODO: Revisit idea with borders here - add to 
  border: var(--container-border-size) solid var(--light-300);
  padding: var(--panel-padding);
  max-height: var(--panel-height);
  width: var(--panel-desktop-width);
}