* {
  box-sizing: border-box;
  color: var(--text-color);
  font-family: var(--app-font-stack);
}

html {
  background-color: var(--background-color);
}

body {
  margin: 0rem;
  padding: var(--common-padding);
}