:root {
  --app-font-stack: Inter, system-ui, Avenir, Helvetica, Arial; 

  /* Sizes */
  --common-border-radius: 8px;
  --common-border-size: 2px;
  --common-margin: 1rem;
  --common-padding: 1rem;
  --screen-group-header-size: 1.4rem;
  --screen-margin: .25rem;
  --screen-width: 200px;

  /* Base Colors */
  --white: #efefef;

  /* Brand Colors */
  --stoup-cyan: #00AF9A;
  --stoup-orange: #FF6C0E;
  --stoup-yellow: #F7BE00;

  /* Complimentary Colors */
  --green-yellow: #ABFF4F;
  --onyx: #393D3F;
  --onyx-dark: #222425;
  --raspberry: #D81159;

  /* Colors (Role) */
  --background-color: var(--onyx-dark);
  --border-color: var(--white);
  --button-background-color: transparent;
  --button-border-color: var(--stoup-orange);
  --button-hover-background-color: var(--stoup-orange);
  --button-hover-border-color: var(--stoup-orange);
  --button-hover-text-color: var(--onyx);
  --button-text-color: var(--white);
  --screen-group-background-color: var(--onyx);

  --text-color: var(--white);

  font-family: var(--app-font-stack);
}

* {
  box-sizing: border-box;
  color: var(--text-color);
  font-family: var(--app-font-stack);
}

html {
  background-color: var(--background-color);
}

body {
  margin: 0rem;
  padding: var(--common-padding);
}