:root {
  --app-font-stack: Inter, system-ui, Avenir, Helvetica, Arial; 

  /* Misc */
  --ratio-height-to-width-16-9: .5625;

  /* Sizes */
  --button-font-size: 1.2rem;
  --button-min-height: 48px;
  --button-min-width: 48px;
  --button-padding: .6rem 1.2rem;
  --common-border-radius: 8px;
  --common-border-size: 2px;
  --common-margin: 1rem;
  --common-padding: 1rem;
  --screen-group-header-font-size: 1.4rem;
  --screen-margin: .25rem;
  --screen-image-width: 200px;
  --screen-image-height: calc(var(--screen-width) * var(--ratio-height-to-width-16-9));
  --title-bar-font-size: 2.4rem;

  /* Times */
  --fast-transition-time: 60ms;
  --normal-transition-time: 100ms;
  --slow-transition-time: 400ms;

  /* Base Colors */
  --white: #efefef;

  /* Brand Colors */
  --stoup-cyan: #00AF9A;
  --stoup-orange: #FF6C0E;
  --stoup-yellow: #F7BE00;

  /* Complimentary Colors */
  --green-yellow: #ABFF4F;
  --onyx: #393D3F;
  --onyx-dark: #222425;
  --raspberry: #D81159;

  /* Colors (Role) */
  --background-color: var(--onyx-dark);
  --border-color: var(--white);
  --button-background-color: transparent;
  --button-border-color: var(--stoup-orange);
  --button-hover-background-color: var(--stoup-orange);
  --button-hover-border-color: var(--stoup-orange);
  --button-hover-text-color: var(--onyx);
  --button-text-color: var(--white);
  --screen-group-background-color: var(--onyx);

  --text-color: var(--white);

  font-family: var(--app-font-stack);
}