:root {
  --app-font-stack: Inter, system-ui, Avenir, Helvetica, Arial; 

  /* Misc */
  --ratio-height-to-width-16-9: .5625;

  /* Sizes */
  --button-disabled-opacity: .25;
  --button-font-size: 1.2rem;
  --button-min-height: 48px;
  --button-min-width: 48px;
  --button-padding: .6rem 1.2rem;
  --button-icon-right-margin: .5em;
  --common-bottom-margin: 3rem;
  --common-border-radius: 8px;
  --common-border-size: 2px;
  --common-margin: 1rem;
  --common-padding: 1rem;
  --menu-button-padding-vertical: var(--common-padding);
  --screen-group-header-font-size: 1.4rem;
  --screen-margin: .25rem;
  --screen-image-width: 200px;
  --screen-image-height: calc(var(--screen-width) * var(--ratio-height-to-width-16-9));
  --screen-status-size: 12px;
  --title-bar-font-size: 2.4rem;

  /* Times */
  --fast-transition-time: 60ms;
  --normal-transition-time: 100ms;
  --screen-host-pip-transition-time: 250ms;
  --slow-transition-time: 400ms;

  /* Base Colors */
  --light-100: #efefef;
  --light-200: #deddda;
  --light-300: #c0bfbc;
  --light-400: #9a9996;

  /* Brand Colors */
  --stoup-cyan: #00AF9A;
  --stoup-orange: #FF6C0E;
  --stoup-yellow: #F7BE00;
  
  /* Other Colors */
  --blue: #1daefccf;
  --bright-green: #2fd648;
  --onyx: #393D3F;
  --onyx-med: #2d2e2e;
  --onyx-dark: #222425;
  --dark-gray: #1c1c1c;
  --med-gray: #2d2d2d;
  --light-gray: #3e3e3e;
  --raspberry: #D81159;

  /* Colors (Role) */
  /* --background-color: var(--onyx-dark); */
  --background-color: var(--light-100);
  /* --border-color: var(--white); */
  --border-color: var(--med-gray);
  /* --button-background-color: var(--blue); */
  --button-background-color: var(--light-300);
  /* --button-border-color: var(--blue); */
  --button-border-color: var(--light-300);
  --button-disabled-border-color: white;
  --button-hover-background-color: var(--blue);
  --button-hover-border-color: var(--blue);
  --button-hover-text-color: var(--onyx);
  --button-text-color: var(--onyx);
  --menu-bar-background-color: var(--light-200);
  --menu-button-active-background-color: var(--light-300);
  --menu-button-active-border-color: var(--light-400);
  /* --screen-background-color: var(--onyx); */
  --screen-background-color: var(--light-200);
  /* --screen-group-background-color: var(--onyx); */
  /* --screen-group-background-color: var(--onyx-med); */
  --screen-group-background-color: transparent;
  --screen-info-hostname-background-color: var(--light-100);
  --screen-status-default-background-color: var(--stoup-yellow);
  --screen-status-loaded-background-color: var(--bright-green);
  /* --screen-status-loaded-background-color: var(--stoup-cyan); */
  --screen-status-loading-background-color: var(--stoup-yellow);
  --screen-status-offline-background-color: var(--raspberry);
  --screen-status-reboot-background-color: var(--stoup-yellow);
  --shadow-color: rgba(0,0,0,0.2);
  --text-color: var(--onyx);

  /* Common Values */
  --small-box-shadow: 0px 2px 4px var(--shadow-color);
  --small-box-shadow-raised: 0px 3px 6px var(--shadow-color);

  font-family: var(--app-font-stack);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: var(--dark-gray);
    /* --border-color: var(--white); */
    --border-color: var(--med-gray);
    --button-background-color: var(--light-gray);
  /* --button-border-color: var(--blue); */
    --button-border-color: var(--light-gray);
    --button-hover-text-color: var(--onyx);
    --button-text-color: var(--light-100);
    --menu-bar-background-color: var(--med-gray);
    --menu-button-active-background-color: var(--light-gray);
    --screen-background-color: var(--med-gray);
    --text-color: var(--light-100);
  }
}
