.screen {
  background-color: var(--screen-background-color);
  // box-shadow: var(--small-box-shadow-raised);
  // border: var(--common-border-size) solid var(--border-color);
  border-radius: var(--common-border-radius);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 33vh;
  margin: var(--screen-margin);
  padding: var(--common-padding);
  width: 20%;
}

.screen-info-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--common-margin);
  
  h1 {
    margin: 0rem;
    font-size: 1.2rem;
  }
  
  .status, .loaded, .loading, .offline, .reboot {
    transition: background-color var(--screen-host-pip-transition-time);
  }
  
  .status {
    // background-color: var(--screen-status-default-background-color);
    box-shadow: var(--small-box-shadow);
    border-radius: 1rem;
    transition: background-color var(--screen-host-pip-transition-time);
    
    max-height: var(--screen-status-size);
    max-width: var(--screen-status-size);
    min-height: var(--screen-status-size);
    min-width: var(--screen-status-size);
    
    // TODO: Fix how this class is applied; currently not appearing
    
  }
  
  .loaded {
    background-color: var(--screen-status-loaded-background-color);
  }
  
  .loading {
    background-color: var(--screen-status-loading-background-color);
  }
  
  .offline {
    background-color: var(--screen-status-offline-background-color);
  }

  .reboot {
    background-color: var(--screen-status-reboot-background-color);
  }
  
}

.screen-info-hostname {
  font-size: .8rem;
  background-color: var(--screen-info-hostname-background-color);
  border-radius: var(--common-border-radius);
  // font-weight: bold;
  font-family: monospace;
  padding: .4rem .6rem;
}

.screen-description-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.screen-description {
  text-align: center;
}

// TODO: Remove or reimplement; plan to have a menu screen is currently
//   abandoned

// .screen-image-wrapper { 
//   align-items: center;
//   box-shadow: var(--small-box-shadow);
//   display: flex;
//   justify-content: center;
//   margin-bottom: var(--common-margin);
//   max-height: var(--screen-image-height);
//   max-width: var(--screen-image-width);
//   min-height: var(--screen-image-height);
//   min-width: var(--screen-image-width);
//   overflow: hidden;
  
//   &, img {
//     border-radius: var(--common-border-radius); 
//   }
// }

.screen-controls {
  width: 100%;
}

.screen-debug-table {
  border-radius: var(--common-border-radius);
  border: 0px solid transparent;
  background-color: var(--screen-debug-table-background-color);
  font-size: .6rem;
  padding: .5rem;
  margin-bottom: var(--common-margin);

  td:first-child {
    font-weight: bold;
  }
  
  td {
    font-family: monospace;
    border-bottom: 1px solid var(--light-200);
    padding: .4rem 0rem;
  }

  tr:first-child td {
    padding-top: 0rem;
  }

  tr:last-child td {
    border-bottom: 0px solid transparent;
    padding-bottom: 0rem;
  }
}