.slider-wrapper {
  // width: 48px;
  width: 56px;
  // background-color: red;
  background-color: var(--slider-background-color);
  // border: 1px solid var(--input-border-color);
  border-radius: 16px;
  opacity: 1.0;
  padding: 4px;
  transition: 
    background-color var(--normal-transition-time),
    opacity var(--normal-transition-time);
}

.disabled {
  opacity: var(--input-disabled-opacity);
}

.slider-wrapper.toggled {
  // background-color: green;
  background-color: var(--slider-background-toggled-color);
}

.slider-wrapper:hover { 
  cursor: pointer;

}

.slider-wrapper.disabled:hover {
  cursor:not-allowed;
}

.pip {
  height: 20px;
  width: 20px;
  background-color: var(--slider-pip-color);
  // border: 2px solid var(--input-border-color);
  border-radius: 10px;
  transform: translateX(0px);
  transition: transform var(--normal-transition-time);
}

.toggled .pip {
  transform: translateX(28px);
}