.button {
  --button-transition-time: var(--normal-transition-time);

  background-color: var(--button-background-color);
  border: var(--common-border-size) solid black;
  border-color: var(--button-border-color);
  border-radius: var(--common-border-radius);
  border-width: var(--common-border-size);
  color: var(--button-text-color);
  font-size: var(--button-font-size);
  font-weight: bold;
  min-height: var(--button-min-height);
  // min-width: var(--button-min-width);
  min-width: 100%;
  padding: var(--button-padding);
  transition: 
    background-color var(--button-transition-time),
    border-color var(--button-transition-time),
    color var(--button-transition-time);

  &:hover {
    background-color: var(--button-hover-background-color);
    border-color: var(--button-hover-border-color);
    color: var(--button-hover-text-color);
    cursor: pointer;
  }
}