.card {
  border: var(--container-border-size) solid var(--border-color);
  border-radius: var(--common-border-radius);
  background-color: var(--card-background-color);
  padding: var(--common-padding);
  margin-bottom: var(--common-margin);

  &:last-child {
    margin-bottom: 0rem;
  }
}

.grow {
  flex-grow: 1;
}

.card.scroll-overflow {
  overflow-y: scroll;
}