.menu-bar {
  display: flex;
  justify-content: center;
  margin-top: 0rem;
  margin-bottom: var(--common-margin);
  padding-top: var(--common-padding);

  ul {
    background-color: var(--menu-bar-background-color);
    border-radius: var(--common-border-radius);
    display: flex;
    list-style-type: none;    
    margin: 0rem;
    padding: var(--common-padding) 0rem;
  }

  li {
    width: 10rem;
    padding: 0rem var(--common-padding) 0rem 0rem;
  }

  li:first-child {
    padding-left: var(--common-padding);
  }
  
  .menu-bar-button {
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: var(--common-border-radius);
    // padding: var(--menu-button-padding-vertical) 0rem;
    padding: 1rem 0rem;
    width: 100%;    
  }

  .menu-bar-button.active { 
    // border-color: var(--menu-button-active-border-color);
    box-shadow: 0px 0px 12px inset rgba(0,0,0,0.05);
    background-color: var(--menu-button-active-background-color);
  }

  .menu-bar-button:hover {
    background-color: var(--button-hover-background-color);
    cursor: pointer;
  }
}